@charset "UTF-8";
.date-container-bg {
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 33, 54, 0.8);
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  color: #FFFFFF;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .date-container-bg {
    box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
    width: 280px;
    height: 190px;
    border-radius: 34px;
    margin-top: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .date-container-bg {
    box-shadow: 0px 8px 43px rgba(16, 33, 54, 0.6);
    width: 500px;
    height: 278px;
    border-radius: 34px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .date-container-bg {
    flex-wrap: wrap;
    box-shadow: 0px 8px 43px rgba(16, 33, 54, 0.6);
    width: 630px;
    height: 278px;
    border-radius: 34px 34px 34px 34px;
  }
}

@media screen and (max-width: 768px) {
  .city-date__month-time-sunset-sunrise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .city-date__day {
    display: flex;
    font-size: 45px;
    line-height: 54px;
    letter-spacing: 0.04em;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .city-date__day-left-elem {
    padding-right: 10px;
  }
  .city-date__day-right-elem {
    padding-left: 10px;
  }
  .city-date__month-and-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    padding-bottom: 25px;
  }
  .city-date__month-and-time-left-elem {
    padding-right: 10px;
    margin: 0 auto;
  }
  .city-date__month-and-time-right-elem {
    padding-left: 10px;
    display: flex;
    justify-content: center;
  }
  .city-date__sunrise-and-sunset {
    display: flex;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    padding-bottom: 42px;
  }
  .city-date__sunrise-and-sunset-left-elem {
    padding-right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .city-date__month-time-sunset-sunrise {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .city-date__day {
    display: flex;
    font-size: 90px;
    line-height: 108px;
    letter-spacing: 0.04em;
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .city-date__day-left-elem {
    padding-right: 40px;
  }
  .city-date__month-and-time {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    padding-bottom: 30px;
  }
  .city-date__month-and-time-left-elem {
    margin-right: 40px;
    position: relative;
  }
  .city-date__sunrise-and-sunset {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    padding-bottom: 38px;
  }
  .city-date__sunrise-and-sunset-left-elem {
    padding-right: 70px;
  }
}
@media screen and (min-width: 1280px) {
  .city-date__month-time-sunset-sunrise {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }
  .city-date__day {
    display: flex;
    font-size: 90px;
    line-height: 108px;
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .city-date__day-left-elem {
    padding-right: 50px;
  }
  .city-date__month-and-time {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
  }
  .city-date__month-and-time-left-elem {
    padding-right: 40px;
  }
  .city-date__month-and-time-right-elem {
    padding-right: 40px;
  }
  .city-date__sunrise-and-sunset {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
  }
  .city-date__sunrise-and-sunset-left-elem {
    padding-right: 40px;
  }
}

.sunrise-svg,
.sunset-svg {
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.sunrise-svg {
  background-image: url("../images/008-sunrise.svg");
}

.sunset-svg {
  background-image: url("../images/009-sunset.svg");
}

.not-active {
  opacity: 0.5;
}

.days-btn {
  width: 126px;
  height: 27px;
  border-radius: 20px;
  border-style: none;
  padding: 0px 12px 0px 12px;
  background: #FFFFFF;
  font-family: "Lato";
  font-size: 14px;
  cursor: pointer;
}

.days-btn_padding {
  margin-left: 18px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.btn-container--margin {
  margin-top: 200px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.submit-btn {
  position: relative;
  margin-left: -40px;
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
}

.search-bar {
  background-color: #FFFFFF;
  border-radius: 30px;
  border-style: none;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .search-bar {
    width: 280px;
    height: 48px;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .search-bar {
    width: 500px;
    height: 48px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .search-bar {
    width: 520px;
    height: 48px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .quote-container {
    margin-top: 43.59px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .quote-container {
    width: 379px;
    margin-top: 63px;
  }
}
@media screen and (min-width: 1280px) {
  .quote-container {
    width: 340px;
  }
}

.quote-txt {
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4%;
  text-align: right;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .quote-txt {
    font-size: 14px;
    line-height: 16.8px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .quote-txt {
    font-size: 22px;
    line-height: 26.4px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .quote-txt {
    font-size: 22px;
    line-height: 26.4px;
    margin-bottom: 30px;
  }
}

.quote-author {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 4%;
  text-align: right;
  color: #FFFFFF;
}

.quotation-marks {
  position: absolute;
  color: #FFFFFF;
  font-family: "Lato";
}
@media screen and (max-width: 768px) {
  .quotation-marks {
    width: 21.62px;
    height: 20px;
    left: 300.42px;
    top: 684px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .quotation-marks {
    width: 49.42px;
    height: 45.7px;
    top: 1029.7px;
    left: 613.42px;
  }
}
@media screen and (min-width: 1280px) {
  .quotation-marks {
    width: 49.42px;
    height: 45.7px;
    left: 1170.42px;
    top: 728.7px;
  }
}

.weather-container {
  background-color: rgb(16, 33, 54);
  box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .weather-container {
    width: 280px;
    height: 190px;
    border-radius: 34px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .weather-container {
    width: 500px;
    height: 300px;
    border-radius: 34px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .weather-container {
    width: 450px;
    height: 300px;
    border-radius: 34px 34px 34px 34px;
    margin-top: 20px;
  }
}

.min-max-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.weather-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .weather-txt-container {
    padding: 0;
  }
}
.weather_section_city_pogoda {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .weather_section_city_pogoda {
    flex-direction: column;
    align-items: baseline;
  }
}

.weather_section_city_name {
  width: 101px;
  height: 26px;
  font-family: "Lato";
  align-items: center;
  text-align: center;
  color: #767d85;
}
@media screen and (max-width: 768px) {
  .weather_section_city_name {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .weather_section_city_name {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .weather_section_city_name {
    font-size: 18px;
    line-height: 22px;
  }
}

.today_current_temp {
  font-family: "Lato";
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .today_current_temp {
    width: 75px;
    height: 56px;
    font-size: 45px;
    line-height: 54px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .today_current_temp {
    width: 90px;
    height: 96px;
    font-size: 90px;
    line-height: 108px;
  }
}
@media screen and (min-width: 1280px) {
  .today_current_temp {
    width: 90px;
    height: 96px;
    font-size: 90px;
    line-height: 108px;
  }
}

.today_temp_txt {
  font-family: "Lato";
  color: #767d85;
}
@media screen and (max-width: 768px) {
  .today_temp_txt {
    width: 26px;
    height: 20px;
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .today_temp_txt {
    width: 50px;
    height: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .today_temp_txt {
    width: 50px;
    height: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}

.today_temp_value {
  font-family: "Lato";
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .today_temp_value {
    width: 26px;
    height: 20px;
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .today_temp_value {
    width: 50px;
    height: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .today_temp_value {
    width: 50px;
    height: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}

.min-max-txt-div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

body {
  mix-blend-mode: multiply;
}

.background {
  background: linear-gradient(0.56deg, #000000 -13.48%, rgba(0, 0, 0, 0) 78.75%), url("../images/bg-desktop.jpg");
  background-size: cover;
  width: 100vw;
  margin: auto;
}

.section {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .section {
    width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .section {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    width: 1280px;
  }
}

.section-not-active {
  visibility: hidden;
}

.date-quote__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 300px;
}
@media screen and (max-width: 768px) {
  .date-quote__container {
    display: inline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .date-quote__container {
    display: inline;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 315px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    width: 760px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1275px;
  }
}

/*elementy tła */
.bg-square {
  border: 4px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  transform: rotate(-30deg);
  width: 197.85px;
  height: 197.85px;
  border-radius: 30px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-inline: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6b09;
  border-radius: 10%;
}

.history {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .history {
    margin-top: 20px;
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .history {
    margin-top: 20px;
  }
}
.history_button {
  color: #fff;
  font-size: 14px;
  background-color: rgba(16, 33, 54, 0.5);
  border-radius: 28px;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  min-width: 72px;
  height: 28px;
  margin: 0 5px;
}
.history_button_link {
  color: #fff;
}
.history_button_delete {
  margin-left: 10px;
  color: #fff;
}
.history_unvisable {
  visibility: hidden;
}
.history_arrow {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.Day5CityName {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 22px auto;
}

.Days5 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px rgba(16, 33, 54, 0.6);
  border-radius: 34px;
  margin: 0 auto;
  /* width */
}
@media screen and (max-width: 768px) {
  .Days5 {
    width: 280px;
    padding: 76px 20px 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .Days5 {
    width: 620px;
    padding: 40px 0px;
  }
}
@media screen and (min-width: 1280px) {
  .Days5 {
    width: 1060px;
    padding: 40px 80px;
  }
}
.Days5-container {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.Days5_viev {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .Days5_viev {
    height: 154px;
    width: 82px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .Days5_viev {
    height: 190px;
    width: 100px;
    margin: 0 10px;
  }
}
@media screen and (min-width: 1280px) {
  .Days5_viev {
    height: 228px;
    width: 120px;
    margin: 0 30px;
  }
}
.Days5_viev__temp {
  display: flex;
  flex-direction: row;
}
.Days5_viev__temp p {
  line-height: 22px;
  color: #ffffff;
  opacity: 0.55;
  font-family: "Lato";
  font-style: normal;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .Days5_viev__temp p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 41px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .Days5_viev__temp p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .Days5_viev__temp p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 60px;
  }
}
.Days5_viev__tempValue {
  font-family: "Lato";
  font-style: normal;
  color: #ff6b09;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  line-height: 30px;
}
.Days5_viev__tempValue p {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .Days5_viev__tempValue p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 41px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .Days5_viev__tempValue p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    width: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .Days5_viev__tempValue p {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    width: 60px;
  }
}
.Days5_viev__week {
  color: #fff;
  font-family: "Lato";
  font-style: normal;
  text-align: center;
  letter-spacing: 0.04em;
  opacity: 0.55;
}
@media screen and (max-width: 768px) {
  .Days5_viev__week {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .Days5_viev__week {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .Days5_viev__week {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}
.Days5_viev__day {
  color: rgb(255, 255, 255);
  font-family: "Lato";
  font-style: normal;
  text-align: center;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 768px) {
  .Days5_viev__day {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .Days5_viev__day {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .Days5_viev__day {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
  }
}
.Days5_viev__moreInfo {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.Days5_viev__moreInfo a {
  color: #ffffff;
  opacity: 0.3;
}
.Days5_viev__icon {
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .Days5_viev__icon {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .Days5_viev__icon {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .Days5_viev__icon {
    width: 75px;
    height: 75px;
  }
}
.Days5_viev__icon01n {
  background-image: url("../images/01d.png");
}
.Days5_viev__icon02n {
  background-image: url("../images/02d.png");
}
.Days5_viev__icon03n {
  background-image: url("../images/03d.png");
}
.Days5_viev__icon04n {
  background-image: url("../images/04d.png");
}
.Days5_viev__icon09n {
  background-image: url("../images/09d.png");
}
.Days5_viev__icon10n {
  background-image: url("../images/10d.png");
}
.Days5_viev__icon11n {
  background-image: url("../images/11d.png");
}
.Days5_viev__icon13n {
  background-image: url("../images/13d.png");
}
.Days5_viev__icon50n {
  background-image: url("../images/50d.png");
}
.Days5_viev__icon01d {
  background-image: url("../images/01d.png");
}
.Days5_viev__icon02d {
  background-image: url("../images/02d.png");
}
.Days5_viev__icon03d {
  background-image: url("../images/03d.png");
}
.Days5_viev__icon04d {
  background-image: url("../images/04d.png");
}
.Days5_viev__icon09d {
  background-image: url("../images/09d.png");
}
.Days5_viev__icon10d {
  background-image: url("../images/10d.png");
}
.Days5_viev__icon11d {
  background-image: url("../images/11d.png");
}
.Days5_viev__icon13d {
  background-image: url("../images/13d.png");
}
.Days5_viev__icon50d {
  background-image: url("../images/50d.png");
}
.Days5_hiden {
  visibility: hidden;
  margin: 0;
  display: none;
}

.more-info {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.more-info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  height: 218px;
  width: 120px;
  margin-right: 10px;
  padding: 15px 16px;
  color: #fff;
}
.more-info__time {
  font-family: "lato";
  font-size: 14px;
  opacity: 0.54;
}
.more-info__temp {
  color: #ff6b09;
  font-family: "lato";
  font-weight: 700;
  font-size: 25px;
}
.more-info__detail {
  display: flex;
}
.more-info__detail-pressure {
  width: 20px;
  height: 20px;
  background-image: url("../images/barometer.png");
  background-size: cover;
}
.more-info__detail-humidity {
  width: 20px;
  height: 20px;
  background-image: url("../images/humidity.png");
  background-size: cover;
}
.more-info__detail-wind {
  width: 20px;
  height: 20px;
  background-image: url("../images/wind.png");
  background-size: cover;
}
.more-info__detail-value {
  opacity: 0.54;
  margin-left: 10px;
}

.Day5CityName {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 22px auto;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chart-btn__show {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 110px;
  height: 28px;
  color: #ff6b09;
  background: rgba(255, 255, 255, 0);
  border: 0px;
  text-decoration: underline;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.chart-btn__close {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 110px;
  height: 28px;
  color: #ff6b09;
  background: rgba(255, 255, 255, 0);
  border: 0px;
  text-decoration: underline;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

#myChart {
  width: 1060px;
  height: 540px;
  padding-top: 39px;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px rgba(16, 33, 54, 0.6);
  border-radius: 34px;
}

.hidden {
  visibility: hidden;
  display: none;
}

.show {
  visibility: visible;
}/*# sourceMappingURL=main.css.map */