.date-container-bg{
    display: flex;
    flex-direction: column;
    background-color: $date-time-container-bg;
    align-items: center;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    //text-align: center;
    color: #FFFFFF;

    position: relative;
    margin: 0 auto;
        
    @media screen and (max-width: $tablet) {
        box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
        width: 280px;
        height: 190px;
        border-radius: 34px;
        
        margin-top: 36px;
    }
            
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        box-shadow: 0px 8px 43px rgba(16, 33, 54, 0.6);
        width: 500px;
        height: 278px;
        border-radius: 34px; 
        
        margin-top: 40px;
    }
        
    @media screen and (min-width: $desktop) {
        flex-wrap: wrap;
        box-shadow: 0px 8px 43px rgba(16, 33, 54, 0.6);
        width: 630px;
        height: 278px;
        border-radius: 34px 34px 34px 34px;
    }
};


.city-date {
    @media screen and (max-width: $tablet) {
        &__month-time-sunset-sunrise{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__day {
            display: flex;
            font-size: 45px;
            line-height: 54px;
            letter-spacing: 0.04em;

            padding-top: 30px;
            padding-bottom: 15px;
        }

        &__day-left-elem{
            padding-right: 10px;
        }
        &__day-right-elem {
            padding-left: 10px;
        }

        &__month-and-time {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.04em;

            padding-bottom: 25px;
            //margin: 0 auto;
        }
        &__month-and-time-left-elem {
            padding-right: 10px;
            margin: 0 auto;
            // &:after{
            //     content: '';
            //     position: absolute;
            //     width: 1px;
            //     height: 22px;
            //     left: 140px;
            //     top: 96px;
                
            //     opacity: 0.4;
            //     border: 1px solid #FFFFFF;
            // }
        }
        &__month-and-time-right-elem{
            padding-left: 10px;
            display: flex;
            justify-content: center;
            //margin: 0 auto;
        }

        &__sunrise-and-sunset {
            display: flex;
            display: flex;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.04em;

            padding-bottom: 42px;
        }

        &__sunrise-and-sunset-left-elem{
            padding-right: 50px;
        }
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        &__month-time-sunset-sunrise {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__day {
            display: flex;
            font-size: 90px;
            line-height: 108px;
            letter-spacing: 0.04em;

            padding-top: 60px;
            padding-bottom: 10px;
        }

        &__day-left-elem {
            padding-right: 40px;
        }

        &__month-and-time {
            display: flex;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.04em;

            padding-bottom: 30px;
        }
        
        &__month-and-time-left-elem {
            margin-right: 40px;
            position: relative;
        }    

        &__sunrise-and-sunset {
            display: flex;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.04em;

            padding-bottom: 38px;
        }

        &__sunrise-and-sunset-left-elem {
            padding-right: 70px;
        }
    }

    @media screen and (min-width: $desktop) {
        &__month-time-sunset-sunrise {
            display: flex;
            flex-direction: row;
            text-align: left;
            justify-content: space-between;
        }

        &__day {
            display: flex;
            font-size: 90px;
            line-height: 108px;

            padding-top: 60px;
            padding-bottom: 10px;;
        }

        &__day-left-elem {
            padding-right: 50px;
        }

        &__month-and-time {
            display: flex;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.04em;
        }

        &__month-and-time-left-elem{
            padding-right: 40px;
        }

        &__month-and-time-right-elem {
            padding-right: 40px;
        }
        
        &__sunrise-and-sunset {
            display: flex;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.04em;
        }

        &__sunrise-and-sunset-left-elem{
            padding-right: 40px;
        }
    }
 
}

.sunrise-svg,
.sunset-svg{
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 10px;
};

.sunrise-svg{
    background-image: url('../images/008-sunrise.svg');
};

.sunset-svg {
    background-image: url('../images/009-sunset.svg');
}

