$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
$txt-color: #FFFFFF;
$days-btn-not-active-color: rgba(255, 255, 255, 0.5);
$submit-btn-color: rgba(255, 255, 255, 0.2);
$section-bg: rgb(16, 33, 54);
$date-time-container-bg:rgba(16, 33, 54, 0.8);