h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

body {
  mix-blend-mode: multiply;
}

.background {
  background: linear-gradient(0.56deg, #000000 -13.48%, rgba(0, 0, 0, 0) 78.75%),
    url('../images/bg-desktop.jpg');
  background-size: cover;
  width: 100vw;
  margin: auto;
}

.section {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  @media screen and (max-width: $tablet) {
    width: 320px;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    width: 768px;
  }
  @media screen and (min-width: $desktop) {
    width: 1280px;
  }
}

.section-not-active {
  visibility: hidden;
}

.date-quote__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 300px;
@media screen and (max-width: $tablet) {
  display: inline;
}
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
  display: inline;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $tablet) {
    width: 315px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    width: 760px;
  }
  @media screen and (min-width: $desktop) {
    width: 1275px;
  }
}

/*elementy tła */
.bg-square {
  // position: absolute;
  border: 4px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  transform: rotate(-30deg);
  width: 197.85px;
  height: 197.85px;
  border-radius: 30px;

  // &-left {
  //   top: 151.37px;
  //   left: -84px;
  // }

  // &-right {
  //   top: -86.08px;
  //   right: -84px;
  // }
}

::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-inline: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6b09;
  border-radius: 10%;
}


